<?xml version="1.0"?>
<config>
    <modules>
        <Smile_DigitalOceanManager>
            <version>0.0.1</version>
        </Smile_DigitalOceanManager>
    </modules>
    <admin>
        <routers>
            <digitaloceanmanager>
                <use>admin</use>
                <args>
                    <module>Smile_DigitalOceanManager</module>
                    <frontName>digitaloceanmanager</frontName>
                </args>
            </digitaloceanmanager>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <digitaloceanmanager>
                    <file>digitaloceanmanager.xml</file>
                </digitaloceanmanager>
            </updates>
        </layout>
        <menu>
            <digitaloceanmanager translate="title" module="adminhtml">
                <title>Hosting</title>
                <sort_order>1000</sort_order>
                <children>
                    <droplets>
                        <title>Droplets</title>
                        <action>digitaloceanmanager/adminhtml_index</action>
                    </droplets>
                </children>
            </digitaloceanmanager>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <digitaloceanmanager_options>
                                            <title>Personal Access Token</title>
                                        </digitaloceanmanager_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <digitaloceanmanager>
                <class>Smile_DigitalOceanManager_Block</class>
            </digitaloceanmanager>
        </blocks>
        <helpers>
            <smile_digitaloceanmanager>
                <class>Smile_DigitalOceanManager_Helper</class>
            </smile_digitaloceanmanager>
        </helpers>
        <models>
            <digitaloceanmanager>
                <class>Smile_DigitalOceanManager_Model</class>
            </digitaloceanmanager>
        </models>
        <events>
            <resource_get_tablename>
                <observers>
                    <add_autoloader>
                        <type>singleton</type>
                        <class>Smile_DigitalOceanManager_Model_Observer</class>
                        <method>addDigitalOceanAutoloader</method>
                    </add_autoloader>
                </observers>
            </resource_get_tablename>
        </events>
    </global>
</config>